header {
    background-color: rgb(57, 176, 255);
}

h1 {
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-left: 10px;
}

p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-gradient {
    background: linear-gradient(90deg, rgb(57, 176, 255) 12%, rgb(10, 204, 113) 64%);
    background-size: 96% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

ul {
    list-style-type: none;
    padding-left: 50px;
    padding-bottom: 20px;
}

.active {
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s ease-in-out;
}

.active:hover{
    color: rgb(33, 204, 10);
}

.Nome {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
}

.Nome:hover{
    color: rgba(101, 242, 252, 0.757);
}

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: 300px 300px 300px 300px;
}

.projects {
}

.projectweb-design {
}

.sidebar {
}

.social-links {
}